In [3]:
import numpy as np
import pandas as pd
from IPython.display import display, Math

In [6]:
alpha = 0.2

vals = [1, 2, 3, 4]

p0 = np.array([1/4, 1/4, 1/6, 1/3])
p1 = np.array([1/4, 1/4, 1/4, 1/4])

L0 = np.outer(p0, p0)
L1 = np.outer(p1, p1)

l = L1 / L0

h0pd = pd.DataFrame(L0, index=vals, columns=vals)
h1pd = pd.DataFrame(L1, index=vals, columns=vals)
lpd = pd.DataFrame(l, index=vals, columns=vals)

display(Math(r'H_0:'), h0pd)
display(Math(r'H_1:'), h1pd)
display(Math(r'l:'), lpd)

          1         2         3         4
1  0.062500  0.062500  0.041667  0.083333
2  0.062500  0.062500  0.041667  0.083333
3  0.041667  0.041667  0.027778  0.055556
4  0.083333  0.083333  0.055556  0.111111

        1       2       3       4
1  0.0625  0.0625  0.0625  0.0625
2  0.0625  0.0625  0.0625  0.0625
3  0.0625  0.0625  0.0625  0.0625
4  0.0625  0.0625  0.0625  0.0625

      1     2      3       4
1  1.00  1.00  1.500  0.7500
2  1.00  1.00  1.500  0.7500
3  1.50  1.50  2.250  1.1250
4  0.75  0.75  1.125  0.5625

$$G: l \ge C \qquad P(l\ge C | H_0)\le 0.2$$
$$G: (3,3), (2,3), (3,2), (1,3), (3,1)$$

In [10]:
from fractions import Fraction

G = np.array([[2,2], [1,2], [2, 1], [0,2], [2,0]]).T.reshape(2, 5)

C = Fraction(np.sum(l[G[0], G[1]]))
alpha1 = Fraction(np.sum(L0[G[0], G[1]])).limit_denominator()
W = Fraction(np.sum(L1[G[0], G[1]]))
alpha2 = 1 - W

display(Math(r'C=\frac{{{num}}}{{{den}}}'.format(num = C.numerator, den = C.denominator)))
display(Math(r'\alpha_1=\frac{{{num}}}{{{den}}}'.format(num = alpha1.numerator, den = alpha1.denominator)))
display(Math(r'\alpha_2=\frac{{{num}}}{{{den}}}'.format(num = alpha2.numerator, den = alpha2.denominator)))
display(Math(r'W=\frac{{{num}}}{{{den}}}'.format(num = W.numerator, den = W.denominator)))